-- Database: BudgetDB
USE [BudgetDB]
GO
/****** Object:  Table [dbo].[BudgetCategories]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[ResearchId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](255) NOT NULL,
	[StoredFileName] [nvarchar](255) NOT NULL,
	[RelativePath] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[UploadedById] [char](9) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentApprovals]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentApprovals](
	[ApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentRequestId] [int] NOT NULL,
	[ApprovedById] [char](9) NOT NULL,
	[ApprovalRole] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ApprovalDate] [datetime2](7) NOT NULL,
	[Comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentRequests]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentRequests](
	[PaymentRequestId] [int] IDENTITY(1,1) NOT NULL,
	[ResearchId] [int] NOT NULL,
	[RequestedById] [char](9) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[RequestDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FileId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchCenters]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchCenters](
	[CenterId] [int] IDENTITY(1,1) NOT NULL,
	[CenterName] [nvarchar](100) NOT NULL,
	[ManagerId] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Researches]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Researches](
	[ResearchId] [int] IDENTITY(1,1) NOT NULL,
	[ResearchCode] [nvarchar](50) NOT NULL,
	[ResearchName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TotalBudget] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsUnderCenter] [bit] NOT NULL,
	[CenterId] [int] NULL,
	[PrimaryResearcherId] [char](9) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResearchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ResearchCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchMembers]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchMembers](
	[ResearchId] [int] NOT NULL,
	[IdNumber] [char](9) NOT NULL,
	[ResearchRole] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ResearchMembers] PRIMARY KEY CLUSTERED 
(
	[ResearchId] ASC,
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[IdNumber] [char](9) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[IdNumber] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdNumber] [char](9) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Files] ADD  CONSTRAINT [DF_Files_UploadedAt]  DEFAULT (sysutcdatetime()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[PaymentApprovals] ADD  CONSTRAINT [DF_PaymentApprovals_ApprovalDate]  DEFAULT (sysutcdatetime()) FOR [ApprovalDate]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_Currency]  DEFAULT (N'ILS') FOR [Currency]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_RequestDate]  DEFAULT (sysutcdatetime()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[PaymentRequests] ADD  CONSTRAINT [DF_PaymentRequests_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Researches] ADD  CONSTRAINT [DF_Researches_IsUnderCenter]  DEFAULT ((0)) FOR [IsUnderCenter]
GO
ALTER TABLE [dbo].[Researches] ADD  CONSTRAINT [DF_Researches_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ResearchMembers] ADD  CONSTRAINT [DF_ResearchMembers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Research] FOREIGN KEY([ResearchId])
REFERENCES [dbo].[Researches] ([ResearchId])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Research]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_UploadedBy] FOREIGN KEY([UploadedById])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_UploadedBy]
GO
ALTER TABLE [dbo].[PaymentApprovals]  WITH CHECK ADD  CONSTRAINT [FK_PaymentApprovals_ApprovedBy] FOREIGN KEY([ApprovedById])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[PaymentApprovals] CHECK CONSTRAINT [FK_PaymentApprovals_ApprovedBy]
GO
ALTER TABLE [dbo].[PaymentApprovals]  WITH CHECK ADD  CONSTRAINT [FK_PaymentApprovals_PaymentRequest] FOREIGN KEY([PaymentRequestId])
REFERENCES [dbo].[PaymentRequests] ([PaymentRequestId])
GO
ALTER TABLE [dbo].[PaymentApprovals] CHECK CONSTRAINT [FK_PaymentApprovals_PaymentRequest]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[BudgetCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_Category]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_File] FOREIGN KEY([FileId])
REFERENCES [dbo].[Files] ([FileId])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_File]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_RequestedBy] FOREIGN KEY([RequestedById])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_RequestedBy]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [FK_PaymentRequests_Research] FOREIGN KEY([ResearchId])
REFERENCES [dbo].[Researches] ([ResearchId])
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [FK_PaymentRequests_Research]
GO
ALTER TABLE [dbo].[ResearchCenters]  WITH CHECK ADD  CONSTRAINT [FK_ResearchCenters_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[ResearchCenters] CHECK CONSTRAINT [FK_ResearchCenters_Manager]
GO
ALTER TABLE [dbo].[Researches]  WITH CHECK ADD  CONSTRAINT [FK_Researches_Center] FOREIGN KEY([CenterId])
REFERENCES [dbo].[ResearchCenters] ([CenterId])
GO
ALTER TABLE [dbo].[Researches] CHECK CONSTRAINT [FK_Researches_Center]
GO
ALTER TABLE [dbo].[Researches]  WITH CHECK ADD  CONSTRAINT [FK_Researches_PrimaryResearcher] FOREIGN KEY([PrimaryResearcherId])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[Researches] CHECK CONSTRAINT [FK_Researches_PrimaryResearcher]
GO
ALTER TABLE [dbo].[ResearchMembers]  WITH CHECK ADD  CONSTRAINT [FK_ResearchMembers_Research] FOREIGN KEY([ResearchId])
REFERENCES [dbo].[Researches] ([ResearchId])
GO
ALTER TABLE [dbo].[ResearchMembers] CHECK CONSTRAINT [FK_ResearchMembers_Research]
GO
ALTER TABLE [dbo].[ResearchMembers]  WITH CHECK ADD  CONSTRAINT [FK_ResearchMembers_User] FOREIGN KEY([IdNumber])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[ResearchMembers] CHECK CONSTRAINT [FK_ResearchMembers_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([IdNumber])
REFERENCES [dbo].[Users] ([IdNumber])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[PaymentApprovals]  WITH CHECK ADD  CONSTRAINT [CK_PaymentApprovals_ApprovalRole] CHECK  (([ApprovalRole]=N'Secretary' OR [ApprovalRole]=N'CenterManager'))
GO
ALTER TABLE [dbo].[PaymentApprovals] CHECK CONSTRAINT [CK_PaymentApprovals_ApprovalRole]
GO
ALTER TABLE [dbo].[PaymentApprovals]  WITH CHECK ADD  CONSTRAINT [CK_PaymentApprovals_Status] CHECK  (([Status]=N'Rejected' OR [Status]=N'Approved'))
GO
ALTER TABLE [dbo].[PaymentApprovals] CHECK CONSTRAINT [CK_PaymentApprovals_Status]
GO
ALTER TABLE [dbo].[PaymentRequests]  WITH CHECK ADD  CONSTRAINT [CK_PaymentRequests_Status] CHECK  (([Status]=N'Cancelled' OR [Status]=N'Rejected' OR [Status]=N'Approved' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[PaymentRequests] CHECK CONSTRAINT [CK_PaymentRequests_Status]
GO
ALTER TABLE [dbo].[Researches]  WITH CHECK ADD  CONSTRAINT [CHK_Researches_Center] CHECK  (([IsUnderCenter]=(0) OR [CenterId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Researches] CHECK CONSTRAINT [CHK_Researches_Center]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email] CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Email]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_UserName_English] CHECK  ((NOT [UserName] like '%[^A-Za-z0-9._]%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_UserName_English]
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetCategories_Add]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BudgetCategories_Add]
    @CategoryName NVARCHAR(100),
    @Description  NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO BudgetCategories (CategoryName, Description)
    OUTPUT INSERTED.CategoryId
    VALUES (@CategoryName, @Description);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BudgetCategories_GetAll]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_BudgetCategories_GetAll]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CategoryId,
        CategoryName,
        Description
    FROM BudgetCategories
    ORDER BY CategoryName;
END;
GO
/****** Object:  StoredProcedure [dbo].[spAddFile]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddFile]
    @ResearchId       INT,
    @OriginalFileName NVARCHAR(255),
    @StoredFileName   NVARCHAR(255),
    @RelativePath     NVARCHAR(500),
    @ContentType      NVARCHAR(100) = NULL,
    @UploadedById     CHAR(9)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Researches WHERE ResearchId = @ResearchId)
    BEGIN
        RAISERROR (N'מחקר לא קיים.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @UploadedById AND IsActive = 1)
    BEGIN
        RAISERROR (N'משתמש מעלה לא קיים או לא פעיל.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Files
        (ResearchId, OriginalFileName, StoredFileName, RelativePath, ContentType, UploadedById, UploadedAt)
    VALUES
        (@ResearchId, @OriginalFileName, @StoredFileName, @RelativePath, @ContentType, @UploadedById, SYSUTCDATETIME());

    SELECT SCOPE_IDENTITY() AS NewFileId;
END
GO
/****** Object:  StoredProcedure [dbo].[spAddResearchMember]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spAddResearchMember]
    @ResearchId   INT,
    @IdNumber     CHAR(9),
    @ResearchRole NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Researches WHERE ResearchId = @ResearchId)
    BEGIN
        RAISERROR (N'מחקר לא קיים.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @IdNumber AND IsActive = 1)
    BEGIN
        RAISERROR (N'משתמש לא קיים או לא פעיל.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.ResearchMembers WHERE ResearchId = @ResearchId AND IdNumber = @IdNumber)
    BEGIN
        UPDATE dbo.ResearchMembers
        SET ResearchRole = @ResearchRole,
            IsActive = 1
        WHERE ResearchId = @ResearchId AND IdNumber = @IdNumber;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.ResearchMembers (ResearchId, IdNumber, ResearchRole, IsActive)
        VALUES (@ResearchId, @IdNumber, @ResearchRole, 1);
    END

    SELECT *
    FROM dbo.ResearchMembers
    WHERE ResearchId = @ResearchId AND IdNumber = @IdNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[spCreatePaymentApproval]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreatePaymentApproval]
    @PaymentRequestId INT,
    @ApprovedById     CHAR(9),
    @ApprovalRole     NVARCHAR(50),   -- 'CenterManager' או 'Secretary'
    @Status           NVARCHAR(20),   -- 'Approved' או 'Rejected'
    @Comment          NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ResearchId INT;
    DECLARE @IsUnderCenter BIT;

    SELECT 
        @ResearchId = pr.ResearchId
    FROM dbo.PaymentRequests pr
    WHERE pr.PaymentRequestId = @PaymentRequestId;

    IF @ResearchId IS NULL
    BEGIN
        RAISERROR (N'בקשת התשלום לא נמצאה.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @ApprovedById AND IsActive = 1)
    BEGIN
        RAISERROR (N'משתמש מאשר לא קיים או לא פעיל.', 16, 1);
        RETURN;
    END

    IF @Status NOT IN (N'Approved', N'Rejected')
    BEGIN
        RAISERROR (N'סטטוס אישור לא תקין.', 16, 1);
        RETURN;
    END

    SELECT @IsUnderCenter = r.IsUnderCenter
    FROM dbo.Researches r
    WHERE r.ResearchId = @ResearchId;

    IF @ApprovalRole = N'Secretary' AND @IsUnderCenter = 1
       AND NOT EXISTS (
            SELECT 1 
            FROM dbo.PaymentApprovals pa
            WHERE pa.PaymentRequestId = @PaymentRequestId
              AND pa.ApprovalRole = N'CenterManager'
              AND pa.Status = N'Approved'
        )
    BEGIN
        RAISERROR (N'לא ניתן לאשר כמזכירה לפני שמנהל מרכז מחקר אישר.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.PaymentApprovals
        (PaymentRequestId, ApprovedById, ApprovalRole, Status, ApprovalDate, Comment)
    VALUES
        (@PaymentRequestId, @ApprovedById, @ApprovalRole, @Status, SYSUTCDATETIME(), @Comment);

    IF @Status = N'Rejected'
    BEGIN
        UPDATE dbo.PaymentRequests
        SET Status = N'Rejected'
        WHERE PaymentRequestId = @PaymentRequestId;
    END
    ELSE IF @Status = N'Approved' AND @ApprovalRole = N'Secretary'
    BEGIN
        UPDATE dbo.PaymentRequests
        SET Status = N'Approved'
        WHERE PaymentRequestId = @PaymentRequestId;
    END

    SELECT TOP 1 *
    FROM dbo.PaymentApprovals
    WHERE PaymentRequestId = @PaymentRequestId
    ORDER BY ApprovalId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[spCreatePaymentRequest]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreatePaymentRequest]
    @ResearchId    INT,
    @RequestedById CHAR(9),
    @CategoryId    INT,
    @Amount        DECIMAL(18,2),
    @Description   NVARCHAR(MAX) = NULL,
    @FileId        INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Researches WHERE ResearchId = @ResearchId)
    BEGIN
        RAISERROR (N'מחקר לא קיים.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @RequestedById AND IsActive = 1)
    BEGIN
        RAISERROR (N'משתמש לא קיים או לא פעיל.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.ResearchMembers 
                   WHERE ResearchId = @ResearchId 
                     AND IdNumber = @RequestedById
                     AND IsActive = 1)
    BEGIN
        RAISERROR (N'המשתמש לא משויך למחקר הזה ולכן לא יכול להגיש בקשה.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.BudgetCategories WHERE CategoryId = @CategoryId)
    BEGIN
        RAISERROR (N'קטגוריית תקציב לא קיימת.', 16, 1);
        RETURN;
    END

    IF @FileId IS NOT NULL
    BEGIN
        IF NOT EXISTS (SELECT 1 FROM dbo.Files WHERE FileId = @FileId AND ResearchId = @ResearchId)
        BEGIN
            RAISERROR (N'הקובץ המצורף לא קיים או לא שייך למחקר הזה.', 16, 1);
            RETURN;
        END
    END

    INSERT INTO dbo.PaymentRequests
        (ResearchId, RequestedById, CategoryId, Amount, Currency, RequestDate, Description, FileId, Status)
    VALUES
        (@ResearchId, @RequestedById, @CategoryId, @Amount, N'ILS', SYSUTCDATETIME(), @Description, @FileId, N'Pending');

    SELECT SCOPE_IDENTITY() AS NewPaymentRequestId;
END
GO
/****** Object:  StoredProcedure [dbo].[spCreateResearch]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spCreateResearch]
    @ResearchCode        NVARCHAR(50),
    @ResearchName        NVARCHAR(200),
    @Description         NVARCHAR(MAX) = NULL,
    @TotalBudget         DECIMAL(18,2),
    @StartDate           DATE,
    @EndDate             DATE = NULL,
    @IsUnderCenter       BIT,
    @CenterId            INT = NULL,
    @PrimaryResearcherId CHAR(9)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Researches WHERE ResearchCode = @ResearchCode)
    BEGIN
        RAISERROR (N'קוד מחקר זה כבר קיים במערכת.', 16, 1);
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @PrimaryResearcherId AND IsActive = 1)
    BEGIN
        RAISERROR (N'חוקר ראשי לא קיים או לא פעיל.', 16, 1);
        RETURN;
    END

    IF @IsUnderCenter = 1
       AND NOT EXISTS (SELECT 1 FROM dbo.ResearchCenters WHERE CenterId = @CenterId)
    BEGIN
        RAISERROR (N'מרכז מחקר לא קיים.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Researches
        (ResearchCode, ResearchName, Description, TotalBudget, StartDate, EndDate,
         IsUnderCenter, CenterId, PrimaryResearcherId, CreatedAt)
    VALUES
        (@ResearchCode, @ResearchName, @Description, @TotalBudget, @StartDate, @EndDate,
         @IsUnderCenter, @CenterId, @PrimaryResearcherId, SYSUTCDATETIME());

    DECLARE @NewResearchId INT = SCOPE_IDENTITY();

    INSERT INTO dbo.ResearchMembers (ResearchId, IdNumber, ResearchRole, IsActive)
    VALUES (@NewResearchId, @PrimaryResearcherId, N'PI', 1);

    SELECT *
    FROM dbo.Researches
    WHERE ResearchId = @NewResearchId;
END
GO
/****** Object:  StoredProcedure [dbo].[spDeletePaymentRequestIfPending]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[spDeletePaymentRequestIfPending]
    @PaymentRequestId INT
AS
BEGIN
    -- בלי SET NOCOUNT ON כאן

    DELETE FROM PaymentRequests
    WHERE PaymentRequestId = @PaymentRequestId
      AND Status = 'Pending';
END;
GO
/****** Object:  StoredProcedure [dbo].[spGetPaymentRequestsByResearch]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPaymentRequestsByResearch]
    @ResearchId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        pr.PaymentRequestId,
        pr.ResearchId,
        pr.RequestedById,
        u.FirstName,
        u.LastName,
        pr.CategoryId,
        bc.CategoryName,
        pr.Amount,
        pr.Currency,
        pr.RequestDate,
        pr.Description,
        pr.FileId,

        -- כאן תיקון שם העמודה לפי הטבלה: OriginalFileNam
        f.OriginalFileName AS FileOriginalName,
        f.RelativePath    AS FileRelativePath,

        pr.Status
    FROM dbo.PaymentRequests pr
    JOIN dbo.Users u
        ON pr.RequestedById = u.IdNumber
    JOIN dbo.BudgetCategories bc
        ON pr.CategoryId = bc.CategoryId
    LEFT JOIN dbo.Files f
        ON pr.FileId = f.FileId
    WHERE pr.ResearchId = @ResearchId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spGetPaymentRequestsByUser]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetPaymentRequestsByUser]
    @RequestedById CHAR(9)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        pr.PaymentRequestId,
        pr.ResearchId,
        r.ResearchName,
        pr.CategoryId,
        bc.CategoryName,
        pr.Amount,
        pr.Currency,
        pr.RequestDate,
        pr.Description,
        pr.FileId,

        f.OriginalFileName  AS FileOriginalName,
        f.RelativePath      AS FileRelativePath,

        pr.Status
    FROM dbo.PaymentRequests pr
    JOIN dbo.Researches r
        ON pr.ResearchId = r.ResearchId
    JOIN dbo.BudgetCategories bc
        ON pr.CategoryId = bc.CategoryId
    LEFT JOIN dbo.Files f
        ON pr.FileId = f.FileId
    WHERE pr.RequestedById = @RequestedById;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetResearchBudgetDetails]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetResearchBudgetDetails]
    @ResearchId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 0. פרטי המחקר
    SELECT 
        ResearchId,
        ResearchName,
        ResearchCode,
        TotalBudget,
        StartDate,
        EndDate,
        CreatedAt
    FROM dbo.Researches
    WHERE ResearchId = @ResearchId;


    -- 1. סך כל ההוצאות שאושרו
    SELECT 
        SUM(Amount) AS TotalApprovedExpenses
    FROM dbo.PaymentRequests
    WHERE ResearchId = @ResearchId
      AND Status = 'Approved';


    -- 2. הוצאות לפי קטגוריה
    SELECT 
        pr.CategoryId,
        bc.CategoryName,
        SUM(pr.Amount) AS TotalByCategory
    FROM dbo.PaymentRequests pr
    JOIN dbo.BudgetCategories bc
        ON pr.CategoryId = bc.CategoryId
    WHERE pr.ResearchId = @ResearchId
      AND pr.Status = 'Approved'
    GROUP BY pr.CategoryId, bc.CategoryName;


    -- 3. פירוט מלא של כל הבקשות (Approved / Pending / Rejected)
    SELECT 
        pr.PaymentRequestId,
        pr.Amount,
        pr.RequestDate,
        pr.Description,
        pr.Status,
        pr.FileId,
        bc.CategoryName,
        u.FirstName + N' ' + u.LastName AS RequestedBy
    FROM dbo.PaymentRequests pr
    JOIN dbo.Users u ON pr.RequestedById = u.IdNumber
    JOIN dbo.BudgetCategories bc ON pr.CategoryId = bc.CategoryId
    WHERE pr.ResearchId = @ResearchId;


    -- 4. יתרת התקציב
    SELECT 
        r.TotalBudget -
        ISNULL((
            SELECT SUM(pr.Amount)
            FROM dbo.PaymentRequests pr
            WHERE pr.ResearchId = @ResearchId
              AND pr.Status = 'Approved'
        ), 0) AS RemainingBudget
    FROM dbo.Researches r
    WHERE r.ResearchId = @ResearchId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spGetResearchById]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetResearchById]
    @ResearchId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.Researches
    WHERE ResearchId = @ResearchId;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetResearchesByUser]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetResearchesByUser]
    @IdNumber CHAR(9)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT DISTINCT r.*
    FROM dbo.Researches r
    LEFT JOIN dbo.ResearchMembers rm
        ON r.ResearchId = rm.ResearchId AND rm.IsActive = 1
    WHERE rm.IdNumber = @IdNumber
       OR r.PrimaryResearcherId = @IdNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetResearchMembers]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetResearchMembers]
    @ResearchId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        rm.ResearchId,
        rm.IdNumber,
        rm.ResearchRole,
        rm.IsActive,
        u.FirstName,
        u.LastName,
        u.Email
    FROM dbo.ResearchMembers rm
    JOIN dbo.Users u ON rm.IdNumber = u.IdNumber
    WHERE rm.ResearchId = @ResearchId;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetUserWithRoles]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUserWithRoles]
    @UserName VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.IdNumber,
        u.UserName,
        u.Email,
        u.FirstName,
        u.LastName,
        u.IsActive,
        r.RoleName
    FROM dbo.Users u
    LEFT JOIN dbo.UserRoles ur ON u.IdNumber = ur.IdNumber
    LEFT JOIN dbo.Roles r ON ur.RoleId = r.RoleId
    WHERE u.UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[spLoginUser]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spLoginUser]
    @UserName     VARCHAR(50),
    @PasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (
        SELECT 1 
        FROM dbo.Users
        WHERE UserName = @UserName
          AND PasswordHash = @PasswordHash
          AND IsActive = 1
    )
    BEGIN
        RAISERROR (N'שם משתמש או סיסמה שגויים, או שהמשתמש אינו פעיל.', 16, 1);
        RETURN;
    END

    SELECT 
        IdNumber,
        UserName,
        Email,
        FirstName,
        LastName,
        IsActive,
        CreatedAt
    FROM dbo.Users
    WHERE UserName = @UserName;
END
GO
/****** Object:  StoredProcedure [dbo].[spRegisterUser]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRegisterUser]
    @IdNumber     CHAR(9),
    @UserName     VARCHAR(50),
    @Email        NVARCHAR(255),
    @PasswordHash NVARCHAR(255),
    @FirstName    NVARCHAR(50),
    @LastName     NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE IdNumber = @IdNumber)
    BEGIN
        RAISERROR (N'משתמש עם תעודת זהות זו כבר קיים במערכת.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE UserName = @UserName)
    BEGIN
        RAISERROR (N'שם המשתמש כבר תפוס. בחרי שם אחר.', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.Users WHERE Email = @Email)
    BEGIN
        RAISERROR (N'כתובת המייל כבר רשומה במערכת.', 16, 1);
        RETURN;
    END

    INSERT INTO dbo.Users
        (IdNumber, UserName, Email, PasswordHash, FirstName, LastName, IsActive, CreatedAt)
    VALUES
        (@IdNumber, @UserName, @Email, @PasswordHash, @FirstName, @LastName, 1, SYSUTCDATETIME());

    SELECT 
        IdNumber,
        UserName,
        Email,
        FirstName,
        LastName,
        IsActive,
        CreatedAt
    FROM dbo.Users
    WHERE IdNumber = @IdNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdatePaymentRequestIfPending]    Script Date: 04/12/2025 12:00:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[spUpdatePaymentRequestIfPending]
    @PaymentRequestId INT,
    @CategoryId       INT,
    @Amount           DECIMAL(18,2),
    @Description      NVARCHAR(MAX) = NULL,
    @FileId           INT = NULL
AS
BEGIN
    -- בלי SET NOCOUNT ON

    UPDATE PaymentRequests
    SET CategoryId  = @CategoryId,
        Amount      = @Amount,
        Description = @Description,
        FileId      = @FileId
    WHERE PaymentRequestId = @PaymentRequestId
      AND Status = 'Pending';
END;
GO
USE [master]
GO
